<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarUsuario</servlet-name>
        <servlet-class>Servlet.ActivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaUsuario</servlet-name>
        <servlet-class>Servlet.BajaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiposUsuarios</servlet-name>
        <servlet-class>Servlet.TiposUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarioMed</servlet-name>
        <servlet-class>Servlet.AgregarUsuarioMed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarioEmp</servlet-name>
        <servlet-class>Servlet.AgregarUsuarioEmp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarUsuario</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaUsuario</servlet-name>
        <url-pattern>/desactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiposUsuarios</servlet-name>
        <url-pattern>/showTipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarioMed</servlet-name>
        <url-pattern>/addUserMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarioEmp</servlet-name>
        <url-pattern>/addUserEmp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
